Screen {
    background: $background;
    color: $text;
}



#left_bar {
    width: 2fr;
}

#middle_bar {
    width: 7fr;
}

#right_bar {
    width: 1fr;
}

#placeholder_left_bar {
    height: .4fr;
}

#plot_output {
    height: 1fr;
}

#plot_input {
    height: 0.5fr;
}

Switch {
    height: auto;
    width: auto;
}
